body{
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;


}
header{
    margin: 0px;
}

.title-row{
    padding: 0px;
    border: none;
}

div.casssiopeia-logo{
    width: 500px;
    height: 150px;
    padding: 10px;
    background-size: contain;
    background: url("../images/Cas-logo-small.png") no-repeat center;
    margin: 10px auto auto;

}

.side-header-link a{

    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;

}

.side-header-link{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;

}

.side-header-link a:hover{
    color: #788599;
    transition: 0.3s;
}

.side-header-link a:active{
    color: #64addd;
}
.side-header-link div{
    border: double;
    border-color: black;
}

.navigation-bar{
    background: #e8eaed;
    margin-top: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 400;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #788599;
    transition: 0.3s;
}

nav a.active {
    color: #64addd;
}

section{
    margin-left: 50px;
    margin-top: 50px;
}

.title-section{
    font-size: 40px;
    font-weight: 500;
    width: 300px;
    float: left;

}

.line{
    argin-left: 45px;
    argin-right: 5px;
    background: black;
    height: 3px;
    width: 300px;
    float: bottom;

}

footer{
    background: lightgray;
}

.error-input{
    background: red;
}

.button-hide{
    display: none;
}

/*DODANO 17062018*/

.main-body {
	max-width: 1140px;
	margin: auto;
}

.form-input > label {
	width: 100%;
	margin-top: 15px;
	font-size: 18px;
}

.form-input > select, .form-input > input {
	width: 100%;
	height: 35px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	background: #e0e0e0;
}

.form-input > select:focus, .form-input > input:focus {
	box-shadow: 0px 0px 5px blue;
	background: #f0f0f0;
}

.button {
	border: none;
	height: 35px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 16px;
	cursor: pointer;
}

.form-input-sm > select, .form-input-sm > input {
	height: 35px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	background: #e0e0e0;
}

.button-send {
	background: blue;
	color: #fff;
}

.button-block {
	width: 100%;
}

.table {
	width: 100%;
	border: none;
	border-collapse:collapse;
	line-height: 40px;
}

.table th {
	text-align: left;
	padding: 0 15px;
	border-bottom: 3px solid #e0e0e0;
}

.table td {
	padding: 0 15px;
}

.table tr:nth-child(even) {
	background: #e0e0e0;
}

.table tr:hover {
	background: #999;
	color: #fff;
	transition: 0.3s;
}

.page {
	line-height: 30px;
	margin-right: 5px;
	width: 30px;
	background: blue;
	padding: 5px;
	color: #FFF;
}

.product-block {
	width: 100%;
	margin: 20px 0;
	background: #fafafa;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
}
figure.galerija {
    display: inline-block;
    width: 23%;
    margin: 0;
    margin-left: 0.75%;
    margin-right: 0.75%;
    height: 180px;
}

.galerija img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.galerija:hover img{
    height: 180px;
}

.galerija:hover figcaption {
    display: none;
}